<!-- index.html -->
{% set page = "Home" %}
{% extends "page-template.html" %}
{%- block mainContent -%}
{# Page content goes here #}
{% include "partials/menu.html" %}
{% include "partials/hero-video.html" %}
{% include "partials/featured-work.html" %}
{% include "partials/about.html" %}
{% include "partials/contact.html" %}
{% include "partials/archive.html" %}{%- endblock -%}{%- block projectContent -%}{# Project content goes here #}{% include "partials/project-close-btn.html" %}{% include "partials/project-hero-video.html" %}{% include "partials/project-header.html" %}{% include "partials/project-description.html" %}{% include "partials/project-related.html" %}{% include "partials/project-festivals.html" %}{% include "partials/project-poster.html" %}{% include "partials/project-download-cta.html" %}{% include "partials/project-end.html" %}{%- endblock -%}