/*!
 * Table of Contents
 * 
 * 1. Layout and base styles
 * 2. Page specific styles
 */
/*-- 1. Layout and base styles  --*/
/*
    Set out base numbers for your design system.
    In this template we use material design principles, so divisions of 8: 
    8px / 16px / 24px / 32px / 40px / 48px / 56px and so on for all padding / margin between elements
*/
/* 1024px */
/* 1024px */
/* 1024px */
/*
    1. Primary color
    2. Secondary color
    3. Light and dark variants
    4. Additional ( such as colors for backgrounds, surfaces, errors, typography, and iconography )
*/
/*
*/
@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/FuturaPTBold.otf"); }

@font-face {
  font-family: 'Futura Italic';
  src: url("../fonts/FuturaPTMediumOblique.otf"); }

@font-face {
  font-family: 'Garamond';
  src: url("../fonts/CormorantGaramondRegular.ttf"); }

html {
  font-size: 8px; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Garamond", serif;
  font-size: 2rem;
  line-height: 3.25rem;
  text-rendering: optimizeLegibility;
  color: #2d2d2d; }

p, ul {
  font-size: 1.66rem;
  line-height: 3rem;
  word-break: break-word; }

h1,
h3,
h4,
h5,
h6 {
  font-family: "Futura Bold", sans-serif;
  color: #2d2d2d;
  text-transform: uppercase; }

h1 {
  font-size: 3rem;
  line-height: 5rem; }

h2 {
  font-family: "Futura Italic", sans-serif;
  font-size: 1.6rem;
  color: #2d2d2d; }

h3 {
  font-size: 1.5rem;
  font-weight: 600; }

a {
  font-family: "Futura Bold", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline; }

a:hover {
  color: #6a757e; }

.selected {
  color: #C60909; }

button {
  font-size: 2.5rem;
  font-family: "Futura Bold", sans-serif; }

::-moz-selection {
  background: #e1e1e1; }

::selection {
  background: #e1e1e1; }

/*
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

.wrap {
  border: 0px solid cyan;
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99;
  pointer-events: none; }

.freeze {
  height: 100%;
  overflow-y: hidden;
  position: fixed; }

.display-none {
  display: none; }

.project-wrap {
  border: 0px solid cyan;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 2; }

.margin-bottom {
  margin-bottom: 15rem; }

.gutter {
  margin-bottom: 10rem; }

.hide {
  display: none; }

.show {
  display: block; }

@media only screen and (max-width: 1024px) {
  .wrap {
    padding: 0 7rem; }
  .margin-bottom {
    margin-bottom: 12rem; }
  .gutter {
    margin-bottom: 8rem; } }

@media only screen and (max-width: 720px) {
  .wrap {
    padding: 0 4rem; }
  .margin-bottom {
    margin-bottom: 9rem; }
  .gutter {
    margin-bottom: 6rem; } }

@media only screen and (max-width: 480px) {
  .wrap {
    padding: 0 2rem; }
  .margin-bottom {
    margin-bottom: 6rem; }
  .gutter {
    margin-bottom: 4rem; } }

/*-- 2  --*/
/*
*/
.menu {
  border: 0px solid cyan;
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  z-index: 1;
  display: none; }
  .menu .wrap {
    height: 100%; }
  .menu .container {
    border: 0px solid cyan;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 100%;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .menu button {
    border: 0px solid cyan;
    padding: 0 1rem;
    height: 100%; }

@media only screen and (max-width: 1024px) {
  .menu .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .menu .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .menu .container {
    display: none; } }

/*
*/
.hero-video {
  border: 0px solid cyan;
  overflow: hidden;
  background-color: #ffffff; }
  .hero-video video {
    width: 100%;
    height: auto; }

/*
*/
.featured-work {
  border: 0px solid cyan; }
  .featured-work h3 {
    text-align: center; }
  .featured-work .container {
    border: 0px solid cyan;
    margin: 2rem auto 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .featured-work button {
    border: 0px solid cyan;
    padding: 0 1rem;
    height: 100%;
    font-size: 2rem; }
  .featured-work .grid {
    border: 0px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .featured-work .card {
    border: 0px solid cyan;
    width: 50%;
    height: auto;
    padding: 0.2rem;
    cursor: pointer; }
  .featured-work .card-content {
    position: relative;
    overflow: hidden; }
  .featured-work .card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .featured-work .card-subtitle {
    font-size: 2.5rem; }
  .featured-work .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .featured-work .thumb {
    border: 0px solid cyan;
    width: 100%;
    height: auto; }
  .featured-work .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .featured-work .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .featured-work .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .featured-work .container {
    display: none; }
  .featured-work .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .featured-work .card {
    width: 100%; } }

/*
*/
.about {
  border: 0px solid cyan;
  margin-top: 30rem; }
  .about .wrap {
    padding: 0 6rem; }
  .about h3 {
    text-align: center;
    margin-bottom: 2rem; }
  .about .about-text {
    text-align: center;
    font-size: 3rem;
    line-height: 5rem; }

@media only screen and (max-width: 720px) {
  .about .about-text {
    text-align: center;
    font-size: 2.5rem;
    line-height: 4.2rem; } }

/*
*/
.contact {
  border: 0px solid cyan; }
  .contact h3 {
    text-align: center;
    margin-bottom: 2rem; }
  .contact .contact-text {
    text-align: center;
    margin-bottom: 5rem; }
  .contact .container {
    border: 0px solid cyan;
    margin: 0 auto 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40rem;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .contact .container a button {
    border: 0px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media only screen and (max-width: 720px) {
  .contact .container {
    width: 100%; } }

/*
*/
.archive {
  border: 0px solid cyan;
  margin-top: 30rem; }
  .archive h3 {
    text-align: center; }
  .archive .container {
    border: 0px solid cyan;
    margin: 2rem auto 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .archive button {
    border: 0px solid cyan;
    padding: 0 1rem;
    height: 100%;
    font-size: 2rem; }
  .archive .grid {
    border: 0px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .archive .card {
    border: 0px solid cyan;
    width: 33.33%;
    height: auto;
    padding: 0.2rem;
    cursor: pointer; }
  .archive .card-content {
    position: relative;
    overflow: hidden; }
  .archive .card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .archive .card-subtitle {
    font-size: 2.5rem; }
  .archive .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .archive .thumb {
    border: 0px solid cyan;
    width: 100%;
    height: auto; }
  .archive .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .archive .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .archive .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .archive .container {
    display: none; }
  .archive .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .archive .card {
    width: 100%; } }

/*
*/
/*
*/
.close-btn-section {
  border: 0px solid cyan;
  position: relative;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 4; }
  .close-btn-section .close-btn {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 5rem;
    height: 5rem;
    padding: 2rem;
    z-index: 3; }
  .close-btn-section .close-btn:hover {
    background-color: white; }

/*
*/
.project-hero-video {
  border: 0px solid cyan;
  overflow: hidden;
  background-color: #111111; }
  .project-hero-video #js-vimeo-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .project-hero-video .ratio-21-9 {
    position: relative;
    padding: 42.8571% 0 0 0;
    margin-top: -2px; }
  .project-hero-video .ratio-16-9 {
    position: relative;
    padding: 56.25% 0 0 0; }
  .project-hero-video .video-poster-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }
  .project-hero-video .video-poster-container img {
    width: 100%;
    height: auto; }
  .project-hero-video .video-play-btn {
    border: 0px solid cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
  .project-hero-video .video-play-btn h1 {
    font-size: 6rem;
    color: #ffffff; }

/*
*/
.project-info {
  border: 0px solid cyan; }
  .project-info h1, .project-info h2, .project-info h3 {
    text-align: center; }
  .project-info h1 {
    margin-bottom: 0.5rem; }
  .project-info h2 {
    margin-bottom: 6rem; }
  .project-info h3 {
    margin-top: 2rem; }
  .project-info h2 {
    font-weight: 200; }
  .project-info .role, .project-info .description {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto; }
  .project-info .role {
    margin-top: 2rem; }
  .project-info .project-client {
    text-align: center;
    margin-bottom: 1.5rem; }

/*
*/
.project-related {
  border: 0px solid cyan; }
  .project-related .grid {
    border: 0px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem; }
  .project-related .card {
    border: 0px solid cyan;
    width: 50%;
    height: auto;
    padding: 0.2rem;
    cursor: pointer; }
  .project-related .card-content {
    position: relative;
    overflow: hidden; }
  .project-related .card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .project-related .card-subtitle {
    font-size: 2.5rem; }
  .project-related .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .project-related .thumb {
    border: 0px solid cyan;
    width: 100%;
    height: auto; }
  .project-related .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .project-related .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .project-related .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .project-related .container {
    display: none; }
  .project-related .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .project-related .card {
    width: 100%; } }

/*
*/
.project-festivals {
  border: 0px solid cyan; }
  .project-festivals h3 {
    margin-bottom: 4rem; }
  .project-festivals h3, .project-festivals ul {
    text-align: center; }

/*
*/
.project-poster {
  border: 0px solid cyan; }
  .project-poster .wrap {
    position: relative; }
  .project-poster .poster {
    border: 0px solid cyan;
    margin: 0 auto;
    max-width: 50%; }
  .project-poster .poster img {
    width: 100%; }

@media only screen and (max-width: 720px) {
  .project-poster .poster {
    max-width: 80%; } }

/*
*/
.project-press-kit {
  border: 0px solid cyan; }
  .project-press-kit .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .project-press-kit a {
    font-size: 1.5rem;
    margin: 0 auto;
    text-decoration: none; }
  .project-press-kit span {
    text-decoration: underline; }

/*
*/
.project-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid cyan;
  width: 100%;
  height: 100vh;
  min-height: 100rem; }
  .project-end .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .project-end #end-indicator {
    border: 0px solid cyan;
    width: 12px;
    margin-bottom: 2rem; }
  .project-end .end-indicator-star {
    fill: #C60909; }
