/*!
 * Table of Contents
 * 
 * 1. Layout and base styles
 */
/*-- 1. Layout and base styles  --*/
/*
    Set out base numbers for your design system.
    In this template we use material design principles, so divisions of 8: 
    8px / 16px / 24px / 32px / 40px / 48px / 56px and so on for all padding / margin between elements
*/
/* 1024px */
/* 1024px */
/* 1024px */
/*
    1. Primary color
    2. Secondary color
    3. Light and dark variants
    4. Additional ( such as colors for backgrounds, surfaces, errors, typography, and iconography )
*/
/*
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
html {
  font-size: 8px; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  line-height: 3.25rem;
  text-rendering: optimizeLegibility;
  color: #2d2d2d; }

p, ul {
  font-size: 4rem;
  line-height: 7rem;
  word-break: break-word; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  color: #2d2d2d; }

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem; }

h2 {
  font-size: 3rem;
  font-weight: 900; }

h3 {
  font-size: 2rem;
  font-weight: 600; }

a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline; }

a:hover {
  color: #6a757e; }

button {
  font-size: 2.5rem; }

@media only screen and (max-width: 1024px) {
  p, ul {
    font-size: 3rem;
    line-height: 4rem; } }

@media only screen and (max-width: 720px) {
  p, ul {
    font-size: 2.5rem;
    line-height: 3.5rem; } }

/*
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

.wrap {
  border: 1px solid cyan;
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 99; }

.freeze {
  height: 100%;
  overflow-y: hidden;
  position: fixed; }

.display-none {
  display: none; }

.project-wrap {
  border: 1px solid cyan;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 2; }

.margin-bottom {
  margin-bottom: 15rem; }

.gutter {
  margin-bottom: 10rem; }

@media only screen and (max-width: 1024px) {
  .wrap {
    padding: 0 7rem; }
  .margin-bottom {
    margin-bottom: 12rem; }
  .gutter {
    margin-bottom: 8rem; } }

@media only screen and (max-width: 720px) {
  .wrap {
    padding: 0 4rem; }
  .margin-bottom {
    margin-bottom: 9rem; }
  .gutter {
    margin-bottom: 6rem; } }

@media only screen and (max-width: 480px) {
  .wrap {
    padding: 0 2rem; }
  .margin-bottom {
    margin-bottom: 6rem; }
  .gutter {
    margin-bottom: 4rem; } }

/*-- 2  --*/
/*
*/
.menu {
  border: 1px solid cyan;
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #f5f5f5;
  z-index: 1; }
  .menu .wrap {
    height: 100%; }
  .menu .container {
    border: 1px solid cyan;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 100%;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .menu button {
    border: 1px solid cyan;
    padding: 0 1rem;
    height: 100%; }

@media only screen and (max-width: 1024px) {
  .menu .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .menu .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .menu .container {
    display: none; } }

/*
*/
.hero-video {
  border: 1px solid cyan;
  overflow: hidden; }
  .hero-video video {
    width: 100%;
    height: auto; }

/*
*/
.featured-work {
  border: 1px solid cyan; }
  .featured-work h1 {
    text-align: center;
    margin-bottom: 5rem; }
  .featured-work .container {
    border: 1px solid cyan;
    margin: 0 auto 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .featured-work button {
    border: 1px solid cyan;
    padding: 0 1rem;
    height: 100%; }
  .featured-work .grid {
    border: 1px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .featured-work .card {
    border: 1px solid cyan;
    width: 50%;
    height: auto;
    padding: 0.5rem;
    cursor: pointer; }
  .featured-work .card-content {
    position: relative;
    overflow: hidden; }
  .featured-work .title, .featured-work .card-overlay {
    position: absolute; }
  .featured-work .title {
    border: 1px solid cyan;
    width: 94%;
    top: 50%;
    left: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #2d2d2d;
    pointer-events: none;
    text-align: center; }
  .featured-work .card-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .featured-work .thumb {
    border: 1px solid cyan;
    width: 100%;
    height: auto; }
  .featured-work .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .featured-work .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .featured-work .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .featured-work .container {
    display: none; }
  .featured-work .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .featured-work .card {
    width: 100%; } }

/*
*/
.about {
  border: 1px solid cyan; }
  .about h1 {
    text-align: center;
    margin-bottom: 5rem; }
  .about .about-text {
    text-align: center; }

/*
*/
.contact {
  border: 1px solid cyan; }
  .contact h1 {
    text-align: center;
    margin-bottom: 5rem; }
  .contact .contact-text {
    text-align: center;
    margin-bottom: 5rem; }
  .contact .container {
    border: 1px solid cyan;
    margin: 0 auto 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40rem;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .contact .container a button {
    border: 1px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media only screen and (max-width: 720px) {
  .contact .container {
    width: 100%; } }

/*
*/
.archive {
  border: 1px solid cyan; }
  .archive h1 {
    text-align: center;
    margin-bottom: 5rem; }
  .archive .container {
    border: 1px solid cyan;
    margin: 0 auto 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 5rem;
    -webkit-transition: width 1s, opacity 0.5s;
    transition: width 1s, opacity 0.5s; }
  .archive button {
    border: 1px solid cyan;
    font-weight: 600;
    padding: 0 1rem;
    height: 100%; }
  .archive .grid {
    border: 1px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .archive .card {
    border: 1px solid cyan;
    width: 33.33%;
    height: auto;
    padding: 0.5rem;
    cursor: pointer; }
  .archive .card-content {
    position: relative;
    overflow: hidden; }
  .archive .title, .archive .card-overlay {
    position: absolute; }
  .archive .title {
    border: 1px solid cyan;
    width: 94%;
    top: 50%;
    left: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #2d2d2d;
    pointer-events: none;
    text-align: center; }
  .archive .card-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .archive .thumb {
    border: 1px solid cyan;
    width: 100%;
    height: auto; }
  .archive .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .archive .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .archive .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .archive .container {
    display: none; }
  .archive .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .archive .card {
    width: 100%; } }

/*
*/
.close-btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3; }

.close-btn:hover {
  background-color: white; }

/*
*/
.project-hero-video {
  border: 1px solid cyan;
  overflow: hidden; }
  .project-hero-video .project-video {
    width: 100%;
    height: auto; }

/*
*/
.project-header {
  border: 1px solid cyan; }
  .project-header h1, .project-header h2, .project-header h3 {
    text-align: center;
    margin-bottom: 2.5rem; }
  .project-header h2 {
    font-weight: 200; }

/*
*/
.project-description {
  border: 1px solid cyan; }
  .project-description .about-text {
    text-align: center; }

/*
*/
.project-related {
  border: 1px solid cyan; }
  .project-related .grid {
    border: 1px solid cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .project-related .card {
    border: 1px solid cyan;
    width: 50%;
    height: auto;
    padding: 0.5rem;
    cursor: pointer; }
  .project-related .card-content {
    position: relative;
    overflow: hidden; }
  .project-related .title, .project-related .card-overlay {
    position: absolute; }
  .project-related .title {
    border: 1px solid cyan;
    width: 94%;
    top: 50%;
    left: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #2d2d2d;
    pointer-events: none;
    text-align: center; }
  .project-related .card-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .project-related .thumb {
    border: 1px solid cyan;
    width: 100%;
    height: auto; }
  .project-related .thumb img {
    width: 100%; }

@media only screen and (max-width: 1024px) {
  .project-related .container {
    width: 80%; } }

@media only screen and (max-width: 720px) {
  .project-related .container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .project-related .container {
    display: none; }
  .project-related .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .project-related .card {
    width: 100%; } }

/*
*/
.project-festivals {
  border: 1px solid cyan; }
  .project-festivals h1 {
    margin-bottom: 4rem; }
  .project-festivals h1, .project-festivals ul {
    text-align: center; }

/*
*/
.project-poster {
  border: 1px solid cyan; }
  .project-poster .wrap {
    position: relative; }
  .project-poster .poster {
    border: 1px solid cyan;
    margin: 0 auto;
    max-width: 50%; }
  .project-poster .poster img {
    width: 100%; }

@media only screen and (max-width: 720px) {
  .project-poster .poster {
    max-width: 80%; } }

/*
*/
.project-download-cta {
  border: 1px solid cyan; }
  .project-download-cta .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .project-download-cta a {
    margin: 0 auto; }

@media only screen and (max-width: 720px) {
  .project-poster .poster {
    max-width: 80%; } }

/*
*/
.project-end {
  border: 1px solid cyan;
  margin-top: 50rem;
  margin-bottom: 50rem; }
  .project-end .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .project-end .end-indicators {
    border: 1px solid cyan;
    width: 12px;
    margin: 0 auto; }
  .project-end .end-indicators svg {
    margin-bottom: 5rem; }
