// About
/*
*/
.about {
    border: $wire;
    margin-top: 30rem;
    
    .wrap {
        padding: 0 6rem;
    }

        h3 {
            text-align: center;
            margin-bottom: 2rem ;
        }

        .about-text {
            text-align: center;
            font-size: 3rem;
            line-height: 5rem;
        }
}


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
    .about .about-text {
        text-align: center;
        font-size: 2.5rem;
        line-height: 4.2rem;
    }
}

@media only screen and (max-width: $break-3) {
    
}