// Colors
/*
    1. Primary color
    2. Secondary color
    3. Light and dark variants
    4. Additional ( such as colors for backgrounds, surfaces, errors, typography, and iconography )
*/

$texts-color: #2d2d2d;
$headings-color: #2d2d2d;
$background-color: #ffffff;
$surface-color: #d2d2d2;
$red: #C60909;


