// Project end
/*
*/
.project-end {
    display: flex;
    align-items: center;
    justify-content: center;
    border: $wire;
    width: 100%;
    height: 100vh;
    min-height: 100rem;

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    #end-indicator {
        border: $wire;
        width: 12px;
        margin-bottom: 5rem;
    }

}


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
   
}

@media only screen and (max-width: $break-3) {
    
}