// Project close btn
/*
*/

// Project end
/*
*/
.close-btn-section {
    border: $wire;
    position: relative;
    height: 5rem;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 4;
    
    .close-btn {
        position: absolute;
        top: 0;
        right: 5rem;
        width: 5rem;
        height: 5rem;
        padding: 2rem;
        z-index: 3;
    }
    
        .close-btn:hover {
            background-color: rgba(255, 255, 255, 1);
        }

}


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
   
}

@media only screen and (max-width: $break-3) {
    
}