// Project festivals
/*
*/
.project-festivals {
    border: $wire;

    .wrap {}

    h3 {
        margin-bottom: 4rem;
    }
    
    h3, ul { text-align: center; }

}


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
   
}

@media only screen and (max-width: $break-3) {
    
}