// Project close btn
/*
*/
.close-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}

    .close-btn:hover {
        background-color: rgba(255, 255, 255, 1);
    }


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
   
}

@media only screen and (max-width: $break-3) {
    
}