// Project hero video
/*
*/
.project-hero-video {
    border: $wire;
    overflow: hidden;

    .project-video {
        width: 100%;
        height: auto;
    }

    .ratio-21-9{
        position: relative;
        padding: 43% 0 0 0;
    }

    .ratio-16-9 {
        position: relative;
        padding: 56.25% 0 0 0;
    }
}