// Project poster
/*
*/
.project-download-cta {
    border: $wire;

    .wrap { display: flex; }

    a { margin: 0 auto; }

}


@media only screen and (max-width: $break-1) {
}

@media only screen and (max-width: $break-2) {
    .project-poster {
        .poster {
            max-width: 80%;
        }
    }
}

@media only screen and (max-width: $break-3) {
    
}