// Project info
/*
*/
.project-info {
    border: $wire;

    .wrap {}
        
        h1, h2, h3 {
            text-align: center;
        }

        h1 {
            margin-bottom: 0.5rem ; 
        }
        h2 {
            margin-bottom: 6rem;
        }

        h3 {
            margin-top: 2rem;
        }

        // Exception to h2's font weight
        h2 { font-weight: 200; }

        .role, .description {
            text-align: center;
            max-width: 50rem;
            margin: 0 auto;
        }

        .role {
            margin-top: 2rem;
        }

        .project-client  {
            text-align: center;
            margin-bottom: 1.5rem;
        }
}


@media only screen and (max-width: $break-1) {
   
}

@media only screen and (max-width: $break-2) {
   
}

@media only screen and (max-width: $break-3) {
    
}