// Texts and links
/*
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;900&display=swap');

$heading-font: "Nunito Sans", sans-serif;
$paragraph-font: "Nunito Sans", sans-serif;

html { font-size: $base-unit; }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $paragraph-font;
    font-size: 2rem;
    line-height: 3.25rem;
    text-rendering: optimizeLegibility;
    color: $texts-color;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $headings-color;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}