<section class="about margin-bottom">
    <div class="wrap">

        <h1>Featured work</h1>


        <p class="about-text">
            Marc is a director based between Barcelona and Hamburg. He brings a cinematic
            combination of fantasy and humor to his work.

            His projects have been recognized at San Sebastian International Film Festival
            and distributed in cinema theaters of many different countries as well as on Netflix.

            His background includes studying at La Sorbonne and ESCAC besides writing for major production companies
            from all around the globe.
        </p>

    </div>

</section>