<section class="archive margin-bottom">
    <div class="wrap">

        <h1>Archive</h1>

        <div class="container">
            <a href="#"><button>All</button></a>
            <a href="#"><button>Commercials</button></a>
            <a href="#"><button>Film & TV series</button></a>
            <a href="#"><button>Music videos</button></a>
        </div>

    </div>

    <div class="grid">

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-1.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-2.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-3.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-4.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-5.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-6.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

    </div>

</section>