<section id="js-archive" class="archive margin-bottom">
    <div class="wrap">

        <h3>Archive</h3>

        <div id="archive-filter-buttons" class="container">
            <button id="all" class="filter-archive-btn selected">All</button>
            <button id="commercials" class="filter-archive-btn">Commercials</button>
            <button id="film-and-tv-series" class="filter-archive-btn">Film & TV series</button>
            <button id="music-videos" class="filter-archive-btn">Music videos</button>
        </div>

    </div>

    <div id="archive-grid" class="grid">
        <!-- Dynamic Data -->
    </div>

</section>