<section id="js-featured-work" class="featured-work margin-bottom">
    <div class="wrap">

        <h1>Featured work</h1>

        <div class="container">
            <a href="#"><button>All</button></a>
            <a href="#"><button>Commercials</button></a>
            <a href="#"><button>Film & TV series</button></a>
            <a href="#"><button>Music videos</button></a>
        </div>

    </div>

    <div id="featured-work-grid" class="grid">

        <!-- <div id="project-card" class="card js-fw-card">
            <div class="card-content">
                <div class="thumb">
                    <img class="thumb-image" src="img/thumb-6.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div> -->

    </div>

</section>