<section id="js-featured-work" class="featured-work margin-bottom">
    <div class="wrap">
        <h1>Works</h1>

        <div class="container">
            <a href="#"><button class="selected">All</button></a>
            <a href="#"><button>Commercials</button></a>
            <a href="#"><button>Film & TV series</button></a>
            <a href="#"><button>Music videos</button></a>
        </div>

    </div>

    <div id="featured-work-grid" class="grid">
        <!-- Dynamic Data -->
    </div>

</section>