<section id="js-featured-work" class="featured-work margin-bottom">
    <div class="wrap">
        <h3>Works</h3>

        <div class="container">
            <button id="all" class="filter-fw-btn selected">All</button>
            <button id="commercials" class="filter-fw-btn">Commercials</button>
            <button id="film-and-tv-series" class="filter-fw-btn">Film & TV series</button>
            <button id="music-videos" class="filter-fw-btn">Music videos</button>
        </div>

    </div>

    <div id="featured-work-grid" class="grid">
        <!-- Dynamic Data -->
    </div>

</section>