<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>Marc Juvé - Film director</title>
    <meta name="description"
        content="Marc Juvé is a film director based between Barcelona and Hamburg. He brings a cinematic combination of fantasy and humor to his work." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <meta name="theme-color" content="#fafafa" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
    <link rel="manifest" href="img/icons/site.webmanifest">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/destyle.css" />
    <link rel="stylesheet" href="css/main.css" />

    <!-- JS calls -->
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/scrollTrigger.min.js"></script>
</head>