<section class="project-hero-video">

    <div class="video-wrapper">
        <iframe class="project-video" src="" style="position:absolute;top:0;left:0;width:100%;height:100%;"
            frameborder="0" allow="false; fullscreen; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <div class="video-poster-container">
        <img src="img/vidposter-l-amor-descongela.jpg" alt="">
        <div class="video-play-btn">
            <h1>Play</h1>
        </div>
    </div>

</section>