<section class="project-related margin-bottom">

    <div class="grid">

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-1.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="thumb">
                    <img src="img/thumb-2.png" alt="Thumb description">
                </div>
                <div class="card-overlay"></div>
                <h2 class="title">Project Title</h2>
            </div>
        </div>

    </div>

</section>